{% extends "layout.html" %}

{% block title %}
Login Page
{% endblock title %}

{% block content %}
<div class='border border-neutral-600 rounded mt-5 w-25 mx-auto text-center ' style="background-color:#203244">
    <h2 class='text-center p-5'>Login Form</h2>
    <form method='POST' class='text-center mt-2 pl-5 pr-5'>
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-primary">Login</button>
    </form>
    <p class='text-center mt-4'>Don't have an account? <br> <a class='text-white' href="{% url 'register' %}">Register Here</a></p>
</div>

{% endblock content %}